{% extends "base.html" %}

{% block content %}
<h2 align="center">Products</h2>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить товар</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Цена - {{item.price}} $
    </div>
    <div>
        Продавец - {{item.user.name}}, Номер телефона - {{item.user.number}}
    </div>
    {% if item.bargaining != 0 %}
    <div>
        Торг возможен
    </div>
    <img src=item.photo alt='картинка'>
{% endif %}
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}

</div>
{% endfor %}
{% endblock %}