{% extends "base.html" %}

{% block content %}
<h2 align="center">Products</h2>
{% for item in jobs %}
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="420px" bgcolor="#bebebe">Product</td>
            <td class="title" width="140px" bgcolor="#bebebe">Team leader</td>
            <td class="title" width="100px" bgcolor="#bebebe">Price</td>
            <td class="title" width="200px" bgcolor="#bebebe">Description</td>
            <td class="title" width="100px" bgcolor="#bebebe">Bargaining possible?</td>
        </tr>
        <tr class="my_row">
            <td class="ordinary" bgcolor="#bbbbff">{{ item.product }}</td>
            <td class="ordinary" bgcolor="#bbbbff">{{ item.team_leader_user.surname }} {{ item.team_leader_user.name }}</td>
            <td class="ordinary" align="center" bgcolor="#bbbbff">{{ item.price }} $</td>
            <td class="ordinary" align="center" bgcolor="#bbbbff">{{ item.description }}</td>
            {% if item.bargaining%}
                <td class="ordinary" align="center" bgcolor="#bbffff">Bargaining possible</td>
            {% else %}
                <td class="ordinary" align="center" bgcolor="#ffbbbb">Bargaining impossible</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}