{% extends "base.html" %}

{% block content %}
<h1>Adding a Product</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.product.label }}<br>
        {{ form.product(class="form-control") }}<br>
        {% for error in form.product.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
<!--    <p>-->
<!--        {{ form.team_leader.label }}<br>-->
<!--        {{ form.team_leader(class="form-control") }}<br>-->
<!--        {% for error in form.team_leader.errors %}-->
<!--            <p content="alert alert-danger" role="alert">-->
<!--                {{ error }}-->
<!--            </p>-->
<!--        {% endfor %}-->
<!--    </p>-->
<!--    <p>-->
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.bargaining() }} {{ form.bargaining.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}